[project]
	description = Ludo implementation in Javafx 2.0.3 platform
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vaibhav Jain (VaibhavJain)
[access "refs/for/refs/*"]
	read = group user/Vaibhav Jain (VaibhavJain)
	push = group user/Vaibhav Jain (VaibhavJain)
	label-Code-Review = -2..+2 group user/Vaibhav Jain (VaibhavJain)
	label-Verified = -1..+1 group user/Vaibhav Jain (VaibhavJain)
	rebase = group user/Vaibhav Jain (VaibhavJain)
	removeReviewer = group user/Vaibhav Jain (VaibhavJain)
	submit = group user/Vaibhav Jain (VaibhavJain)
[access "refs/heads/*"]
	read = group user/Vaibhav Jain (VaibhavJain)
	create = group user/Vaibhav Jain (VaibhavJain)
	push = +force group user/Vaibhav Jain (VaibhavJain)
	pushMerge = group user/Vaibhav Jain (VaibhavJain)
[access "refs/tags/*"]
	push = group user/Vaibhav Jain (VaibhavJain)
	push = +force group user/Vaibhav Jain (VaibhavJain)
